<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
    <link rel="stylesheet" href="registration-form.component.css" />
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <form
            [formGroup]="sampleFormGroup"
            #ngForm="ngForm"
            (ngSubmit)="onSubmit()"
          >
            <div class="container">
              <div class="heading">
                <p>Registration Form</p>
              </div>
              <div fxLayout="row wrap" fxLayout.lt-sm="column">
                <div fxFlex="20"></div>
                <div fxFlex="28">
                  <mat-form-field appearance="fill" class="full-width">
                    <mat-label>First Name</mat-label>
                    <input
                      matInput
                      placeholder="Enter your first name"
                      formControlName="firstName"
                    />
                    <mat-error *ngIf="errorMsg('firstName', 'required')">
                      <fa-icon [icon]="faError"></fa-icon>
                      First name is required
                    </mat-error>
                    <mat-error *ngIf="errorMsg('firstName', 'pattern')">
                      <fa-icon [icon]="faError"></fa-icon>

                      Start with Capital Letter
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="4"></div>
                <div fxFlex="28">
                  <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Last Name</mat-label>
                    <input
                      matInput
                      placeholder="Enter your last name"
                      formControlName="lastName"
                    />
                    <mat-error *ngIf="errorMsg('lastName', 'required')">
                      <fa-icon [icon]="faError"></fa-icon>

                      Last name is required
                    </mat-error>
                    <mat-error *ngIf="errorMsg('lastName', 'pattern')">
                      <fa-icon [icon]="faError"></fa-icon>
                      Start with Capital Letter
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row wrap" fxLayout.lt-sm="column">
                <div fxFlex="20"></div>
                <div fxFlex="28">
                  <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Select Role</mat-label>
                    <mat-select formControlName="role">
                      <mat-option
                        *ngFor="let role of roles"
                        [value]="role.value"
                        >{{ role.viewData }}</mat-option
                      >
                    </mat-select>
                    <mat-error *ngIf="errorMsg('role', 'required')">
                      <fa-icon [icon]="faError"></fa-icon>

                      Please select the role
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="4"></div>
                <div fxFlex="28">
                  <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Choose a date</mat-label>
                    <input
                      matInput
                      [matDatepicker]="picker"
                      placeholder="MM/DD/YYYY"
                      formControlName="date"
                    />

                    <mat-datepicker-toggle
                      class="calender_icon"
                      matIconPrefix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="errorMsg('date', 'required')">
                      <fa-icon [icon]="faError"></fa-icon>
                      Please choose a date
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="20"></div>
              </div>
              <div fxLayout="row wrap" fxLayout.lt-sm="column">
                <div fxFlex="20"></div>
                <div fxFlex="28" class="pb-3">
                  <div>
                    <label class="label-head">Gender </label>
                    <mat-radio-group formControlName="gender">
                      <br />
                      <mat-radio-button value="male">Male</mat-radio-button>
                      <mat-radio-button value="female">Female</mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="errorMsg('gender', 'required')">
                      <fa-icon [icon]="faError"></fa-icon>
                      Please select a gender
                    </mat-error>
                  </div>
                </div>
                <div fxFlex="4"></div>
                <div fxFlex="40"></div>
                <div fxFlex="20"></div>
                <div fxFlex="60" class="pb-3">
                  <label class="label-head">Skills </label>
                  <br />
                  <mat-checkbox *ngFor="let skill of skills">{{
                    skill
                  }}</mat-checkbox>
                </div>
              </div>

              <div fxLayout="row">
                <div fxFlex="20"></div>
                <div fxFlex="100">
                  <mat-form-field appearance="fill" class="width">
                    <mat-label>About Employee</mat-label>
                    <textarea
                      matInput
                      maxlength="300"
                      formControlName="about"
                    ></textarea>
                    <mat-hint align="end">Maximum 300 characters only</mat-hint>
                    <mat-error *ngIf="errorMsg('about', 'required')">
                      <fa-icon [icon]="faError"></fa-icon>

                      This field is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row wrap" fxLayout.lt-sm="column">
                <div fxFlex="100">
                  <div fxLayoutAlign="center" class="p-4">
                    <button
                      mat-raised-button
                      color="accent"
                      [disabled]="!sampleFormGroup.valid"
                    >
                      Submit
                    </button>

                    <div class="loading-indicator">
                      <mat-progress-spinner
                      *ngIf="isLoading"
                      mode="indeterminate"
                      color="accent"
                    ></mat-progress-spinner>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
                        
