.heading {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
}
p {
  font-size: 40px;
  font-weight: bold;
}
.full-width {
  width: 100%;
}
.width {
  width: 73%;
}
.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}