.mat {
  color: white;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

table {
  width: 100%;
}

/* td, th {
   width: 25%;
 } */
.registerButton {
  background-color: #85d8ce;
  color: #085078;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.0125em;
  margin: 0;
  padding: 10px 20px;
  border: 2px solid #085078;
  border-radius: 4px;
}
.registerButton:hover {
  background-color: #085078;
  color: #fff;
}
/* th{
  background-color: darkgray;
} */