.mat {
  color: white;
  height: 4%;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-form-field {
  width: 100%;
}
.my-dialog {
  width: 100%;
  padding: 20px !important;
}

form {
  overflow: hidden;
  padding-bottom: 2%;
}
.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}